<mat-card class="oh text-center little-profile">
    <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <div class="pro-img">
            <img src="assets/images/users/4.jpg" width="100" alt="user" class="img-circle">
        </div>
        <h3 class="m-b-0">Rupesh Baheti</h3>
        <h6 class="m-t-0 ">Solution Architect&amp; Manager</h6>
        <mat-card-actions>
            <button mat-raised-button color="warn">Calculate your Co2 Emissions</button>
        </mat-card-actions>
        <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">23tons</h3>
                <small>Living</small>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">64kgs</h3>
                <small>Fuels</small>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">13kgs</h3>
                <small>Food</small>
            </div>
        </div>
    </mat-card-content>
</mat-card>
