<!-- ============================================================== -->
<!-- final row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
	<!-- Card column -->
	<div fxFlex.gt-sm="100%" fxFlex="100">
		<mat-card>

			<mat-card-content>
					<mat-card-title>Let's Calculate your CO2 Emission</mat-card-title>
					  <mat-form-field>
						<mat-label>Enter a date range</mat-label>
						<mat-date-range-input [rangePicker]="picker">
						  <input matStartDate matInput placeholder="Start date">
						  <input matEndDate matInput placeholder="End date">
						</mat-date-range-input>
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-date-range-picker #picker></mat-date-range-picker>
					  </mat-form-field>
			</mat-card-content>
			<mat-tab-group class="demo-tab-group">
				<mat-tab label="Tab 1">
					<ng-template mat-tab-label>
					<mat-icon>home</mat-icon>
					<mat-label>Living</mat-label>
					</ng-template>
					<div class="demo-tab-content">
						<mat-vertical-stepper [linear]="isLinearvarient" #steppervarient class="m-t-20">
							<mat-step [stepControl]="lifestylefirstFormGroup">
							  <form [formGroup]="lifestylefirstFormGroup">
								<ng-template matStepLabel>How many kgs of wood furnitures you have in your house?</ng-template>
								<mat-form-field>
								  <input matInput placeholder="Furniture(In kgs)" formControlName="furnitureCtrl" required>
								</mat-form-field>
								<div>
								  <button mat-raised-button matStepperNext color="accent">Next</button>
								</div>
							  </form>
							</mat-step>
							<mat-step [stepControl]="lifestylesecondFormGroup">
								<form [formGroup]="lifestylesecondFormGroup">
								  <ng-template matStepLabel>How many refrigerators you have in your house?</ng-template>
								  <mat-form-field>
									<input matInput placeholder="Refrigerator(In Kgs)" formControlName="refrigeratorCtrl" required>
								  </mat-form-field>
								  <div>
									<button mat-raised-button matStepperNext color="accent">Next</button>
								  </div>
								</form>
							  </mat-step>
							  <mat-step [stepControl]="lifestylethirdFormGroup">
								<form [formGroup]="lifestylethirdFormGroup">
								  <ng-template matStepLabel>How much electricity you consume for household?</ng-template>
								  <mat-form-field>
									<input matInput placeholder="Electricity(In Kwh)" formControlName="electricityCtrl" required>
								  </mat-form-field>
								  <div>
									<button mat-raised-button matStepperNext color="accent">Next</button>
								  </div>
								</form>
							  </mat-step>
							  <mat-step [stepControl]="lifestylefourthFormGroup">
								<form [formGroup]="lifestylefourthFormGroup">
								  <ng-template matStepLabel>Quantity of Gas consumption in house?</ng-template>
								  <mat-form-field>
									<input matInput placeholder="Gas(kwh)" formControlName="gasCtrl" required>
								  </mat-form-field>
								  <div>
									<button mat-raised-button matStepperNext color="accent">Next</button>
								  </div>
								</form>
							  </mat-step>
							<mat-step [stepControl]="lifestylefifthFormGroup">
							  <form [formGroup]="lifestylefifthFormGroup">
								<ng-template matStepLabel>Quantity of Natural Gas consumption in house?</ng-template>
								<mat-form-field>
								  <input matInput placeholder="naturalgas" formControlName="naturalgasCtrl" required>
								</mat-form-field>
								<div class="button-row">
								  <button mat-raised-button color="primary" matStepperPrevious>Back</button>
								  <button mat-raised-button color="accent" matStepperNext>Next</button>
								</div>
							  </form>
							</mat-step>
							<mat-step [stepControl]="lifestylesixthFormGroup">
								<form [formGroup]="lifestylesixthFormGroup">
								  <ng-template matStepLabel>How much of glass consumption you do in household?(in kgs)</ng-template>
								  <mat-form-field>
									<input matInput placeholder="glass(in Kgs)" formControlName="glassCtrl" required>
								  </mat-form-field>
								  <div>
									<button mat-raised-button matStepperNext color="accent">Next</button>
								  </div>
								</form>
							  </mat-step>
							  <mat-step [stepControl]="lifestyleseventhFormGroup">
								<form [formGroup]="lifestyleseventhFormGroup">
								  <ng-template matStepLabel>How much of Paper/Books consumption you do in household?</ng-template>
								  <mat-form-field>
									<input matInput placeholder="Books,Papers(in kgs)" formControlName="booksPapersCtrl" required>
								  </mat-form-field>
								  <div>
									<button mat-raised-button matStepperNext color="accent">Next</button>
								  </div>
								</form>
							  </mat-step>
							  <mat-step [stepControl]="lifestyleeighthFormGroup">
								<form [formGroup]="lifestyleeighthFormGroup">
								  <ng-template matStepLabel>How much of plastic consumption you do in household?</ng-template>
								  <mat-form-field>
									<input matInput placeholder="plastic(in kgs)" formControlName="plasticCtrl" required>
								  </mat-form-field>
								  <div class="button-row">
									<button mat-raised-button color="primary" matStepperPrevious>Back</button>
									<button mat-raised-button color="accent" matStepperNext>Next</button>
								  </div>
								</form>
							  </mat-step>
							  <mat-step [stepControl]="lifestyleninthFormGroup">
								  <form [formGroup]="lifestyleninthFormGroup">
									<ng-template matStepLabel>How much of metal consumption you do in household?</ng-template>
									<mat-form-field>
									  <input matInput placeholder="metals(in kgs)" formControlName="metalsCtrl" required>
									</mat-form-field>
									<div>
									  <button mat-raised-button matStepperNext color="accent">Next</button>
									</div>
								  </form>
								</mat-step>
								<mat-step [stepControl]="lifestyletenthFormGroup">
								  <form [formGroup]="lifestyletenthFormGroup">
									
									<ng-template matStepLabel>How many small electrical appliances you have in your house?</ng-template>
									<mat-form-field>
									  <input matInput placeholder="Electrical small Appliances(In Kgs)" formControlName="electricitysmallCtrl" required>
									</mat-form-field>
									<div>
									  <button mat-raised-button matStepperNext color="accent">Next</button>
									</div>
								  </form>
								</mat-step>
								<mat-step [stepControl]="lifestyleeleventhFormGroup">
									<form [formGroup]="lifestyleeleventhFormGroup">
									  
									  <ng-template matStepLabel>How many electrical appliances used for IT you have in house?</ng-template>
									  <mat-form-field>
										<input matInput placeholder="Electrical IT Appliances(In Kgs)" formControlName="electricitysITCtrl" required>
									  </mat-form-field>
									  <div>
										<button mat-raised-button matStepperNext color="accent">Next</button>
									  </div>
									</form>
								  </mat-step>
								  <mat-step [stepControl]="lifestyletwelvethFormGroup">
									<form [formGroup]="lifestyletwelvethFormGroup">
									  
									  <ng-template matStepLabel>How many large electrical appliances you have in your house?</ng-template>
									  <mat-form-field>
										<input matInput placeholder="Electrical large Appliances(In Kgs)" formControlName="electricitylargeCtrl" required>
									  </mat-form-field>
									  <div>
										<button mat-raised-button matStepperNext color="accent">Next</button>
									  </div>
									</form>
								  </mat-step>
							<mat-step>
							  <ng-template matStepLabel>Done</ng-template>
							  You are now done.
							  <div class="button-row">
								<button mat-raised-button color="primary" matStepperPrevious>Back</button>
								<button mat-raised-button color="warn" (click)="steppervarient.reset()">Reset</button>
							  </div>
							</mat-step>
						  </mat-vertical-stepper> 
					</div>
				</mat-tab>
				<mat-tab label="Tab 2">
					<ng-template mat-tab-label>
						<mat-icon> fastfood</mat-icon>
						<mat-label>Food</mat-label>
					</ng-template>
					<div class="demo-tab-content">
						<mat-vertical-stepper [linear]="isLinearvarient" #steppervarient class="m-t-20">
							<mat-step [stepControl]="foodfirstFormGroup">
							  <form [formGroup]="foodfirstFormGroup">
								<ng-template matStepLabel>How much do you spend in Vegetarian food?</ng-template>
								<mat-form-field>
								  <input matInput placeholder="Veg Food(In GBP)" formControlName="foodTypeCtrl" required>
								</mat-form-field>
								<div>
								  <button mat-raised-button matStepperNext color="accent">Next</button>
								</div>
							  </form>
							</mat-step>
							<mat-step [stepControl]="foodsecondFormGroup">
								<form [formGroup]="foodsecondFormGroup">
								  <ng-template matStepLabel>How much do you spend in Non-Vegetarian food?</ng-template>
								  <mat-form-field>
									<input matInput placeholder="Non-Veg Food(In GBP)" formControlName="foodCtrl" required>
								  </mat-form-field>
								  <div>
									<button mat-raised-button matStepperNext color="accent">Next</button>
								  </div>
								</form>
							  </mat-step>
							  <mat-step [stepControl]="foodthirdFormGroup">
								<form [formGroup]="foodthirdFormGroup">
								  <ng-template matStepLabel>How much do you spend in Drinks?</ng-template>
								  <mat-form-field>
									<input matInput placeholder="Drinks(In GBP)" formControlName="drinksCtrl" required>
								  </mat-form-field>
								  <div>
									<button mat-raised-button matStepperNext color="accent">Next</button>
								  </div>
								</form>
							  </mat-step>
							  <mat-step [stepControl]="foodfourthFormGroup">
								<form [formGroup]="foodfourthFormGroup">
								  <ng-template matStepLabel>How much  do you spend on clothing?</ng-template>
								  <mat-form-field>
									<input matInput placeholder="clothing(GBP)" formControlName="clothingCtrl" required>
								  </mat-form-field>
								  <div>
									<button mat-raised-button matStepperNext color="accent">Next</button>
								  </div>
								</form>
							  </mat-step>
							  <mat-step [stepControl]="foodfifthFormGroup">
								<form [formGroup]="foodfifthFormGroup">
								  <ng-template matStepLabel>How many hours you work from home?</ng-template>
								  <mat-form-field>
									<input matInput placeholder="WorkfromHome(In Hrs)" formControlName="wfhCtrl" required>
								  </mat-form-field>
								  <div class="button-row">
									<button mat-raised-button color="primary" matStepperPrevious>Back</button>
									<button mat-raised-button color="accent" matStepperNext>Next</button>
								  </div>
								</form>
							  </mat-step>
							  <mat-step [stepControl]="foodsixthFormGroup">
								<form [formGroup]="foodsixthFormGroup">
								  <ng-template matStepLabel>How many times you stayed in hotel?</ng-template>
								  <mat-form-field>
									<input matInput placeholder="hotel(rooms per night)" formControlName="hotelCtrl" required>
								  </mat-form-field>
								  <div class="button-row">
									<button mat-raised-button color="primary" matStepperPrevious>Back</button>
									<button mat-raised-button color="accent" matStepperNext>Next</button>
								  </div>
								</form>
							  </mat-step>
							<mat-step>
							  <ng-template matStepLabel>Done</ng-template>
							  You are now done.
							  <div class="button-row">
								<button mat-raised-button color="primary" matStepperPrevious>Back</button>
								<button mat-raised-button color="warn" (click)="steppervarient.reset()">Reset</button>
							  </div>
							</mat-step>
						  </mat-vertical-stepper> 
					</div>  
				</mat-tab>
				<mat-tab label="Tab 3">
					<ng-template mat-tab-label>
						<mat-icon> local_taxi</mat-icon>
						<mat-label>Transport</mat-label>
						</ng-template>
						<div class="demo-tab-content">
							<mat-vertical-stepper [linear]="isLinearvarient" #steppervarient class="m-t-20">
								<mat-step [stepControl]="transportfirstFormGroup">
								  <form [formGroup]="transportfirstFormGroup">
									<ng-template matStepLabel>Please enter the number of Kms travelled using Diesel cars</ng-template>
									<mat-form-field>
									  <input matInput placeholder="dieselcars(in Kms)" formControlName="carDieselCtrl" required>
									</mat-form-field>
									<div>
									  <button mat-raised-button matStepperNext color="accent">Next</button>
									</div>
								  </form>
								</mat-step>
								<mat-step [stepControl]="transportsecondFormGroup">
									<form [formGroup]="transportsecondFormGroup">
									  <ng-template matStepLabel>Please enter the number of Kms travelled using Petrol cars</ng-template>
									  <mat-form-field>
										<input matInput placeholder="petrolcars(Kms)" formControlName="carPetrolCtrl" required>
									  </mat-form-field>
									  <div>
										<button mat-raised-button matStepperNext color="accent">Next</button>
									  </div>
									</form>
								  </mat-step>
								  <mat-step [stepControl]="transportthirdFormGroup">
									<form [formGroup]="transportthirdFormGroup">
									  <ng-template matStepLabel>Please enter the number of Kms travelled by regular taxies</ng-template>
									  <mat-form-field>
										<input matInput placeholder="taxi(in kms)" formControlName="carElectricCtrl" required>
									  </mat-form-field>
									  <div>
										<button mat-raised-button matStepperNext color="accent">Next</button>
									  </div>
									</form>
								  </mat-step>
								  <mat-step [stepControl]="transportfourthFormGroup">
									<form [formGroup]="transportfourthFormGroup">
									  <ng-template matStepLabel>How many international flights (To/from non-UK) in Economy class you take?</ng-template>
									  <mat-form-field>
										<input matInput placeholder="internationalFlight(in Kms)" formControlName="internationalFlightCtrl" required>
									  </mat-form-field>
									  <div>
										<button mat-raised-button matStepperNext color="accent">Next</button>
									  </div>
									</form>
								  </mat-step>
								<mat-step [stepControl]="transportfifthFormGroup">
								  <form [formGroup]="transportfifthFormGroup">
									<ng-template matStepLabel>How many domestic trips(Short-haul, to/from UK)in Economy class you take by air?</ng-template>
									<mat-form-field>
									  <input matInput placeholder="domesticFlight(in Kms)" formControlName="domesticFlightctrl" required>
									</mat-form-field>
									<div class="button-row">
									  <button mat-raised-button color="primary" matStepperPrevious>Back</button>
									  <button mat-raised-button color="accent" matStepperNext>Next</button>
									</div>
								  </form>
								</mat-step>
								<mat-step [stepControl]="transportsixthFormGroup">
									<form [formGroup]="transportsixthFormGroup">
									  <ng-template matStepLabel>How many trip you take by bus?</ng-template>
									  <mat-form-field>
										<input matInput placeholder="Bus Travel(In Kms)" formControlName="busCtrl" required>
									  </mat-form-field>
									  <div>
										<button mat-raised-button matStepperNext color="accent">Next</button>
									  </div>
									</form>
								  </mat-step>
								  <mat-step [stepControl]="transportseventhFormGroup">
									<form [formGroup]="transportseventhFormGroup">
									  <ng-template matStepLabel>How many cruise trip or ferries you take?</ng-template>
									  <mat-form-field>
										<input matInput placeholder="SeaTravel(In Kms)" formControlName="waterCtrl" required>
									  </mat-form-field>
									  <div>
										<button mat-raised-button matStepperNext color="accent">Next</button>
									  </div>
									</form>
								  </mat-step>
								  <mat-step [stepControl]="transporteighthFormGroup">
									<form [formGroup]="transporteighthFormGroup">
									  <ng-template matStepLabel>How many trips do you take by light raiL/trams?</ng-template>
									  <mat-form-field>
										<input matInput placeholder="Rail/Trams Travel(in Kms)" formControlName="railCtrl" required>
									  </mat-form-field>
									  <div class="button-row">
										<button mat-raised-button color="primary" matStepperPrevious>Back</button>
										<button mat-raised-button color="accent" matStepperNext>Next</button>
									  </div>
									</form>
								  </mat-step>
								  <mat-step [stepControl]="transportninthFormGroup">
									<form [formGroup]="transportninthFormGroup">
									  <ng-template matStepLabel>How many kms you travel by medium sized motorbike?</ng-template>
									  <mat-form-field>
										<input matInput placeholder="Bike(in Kms)" formControlName="bikeCtrl" required>
									  </mat-form-field>
									  <div class="button-row">
										<button mat-raised-button color="primary" matStepperPrevious>Back</button>
										<button mat-raised-button color="accent" matStepperNext>Next</button>
									  </div>
									</form>
								  </mat-step>
								<mat-step>
								  <ng-template matStepLabel>Done</ng-template>
								  You are now done.
								  <div class="button-row">
									<button mat-raised-button color="primary" matStepperPrevious>Back</button>
									<button mat-raised-button color="warn" (click)="steppervarient.reset()">Reset</button>
								  </div>
								</mat-step>
							  </mat-vertical-stepper> 
						</div>   
				</mat-tab>
				<mat-tab label="Tab 4">
					<ng-template mat-tab-label>
						⭐
						<mat-label>Done</mat-label>
					</ng-template>
					<div class="demo-tab-content">
						<mat-card>
							<mat-card-header>
							  <mat-card-title>You're done now. Click on Submit to know your results!</mat-card-title>
							  <mat-card-subtitle>
								<mat-card-content>
									<button mat-raised-button color="primary" (click)="onSubmit()">
										Submit
									  </button>
									  <p>Your results are getting calculated. Sit back and relax!</p>
								</mat-card-content>

						  <mat-card-content>
							You CO2 emission is <strong>102 tonnes</strong> which is <strong>15%</strong>greater than UK's average emission! Visit our <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a> to view complete analytics 
					  </mat-card-content> 
							  </mat-card-subtitle>
							</mat-card-header>
						  </mat-card>
					</div>  
 
				</mat-tab>

			</mat-tab-group>
		</mat-card>    
	</div>
</div>




