<!-- ============================================================== -->
<!-- final row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
	<!-- Card column -->
	<div fxFlex.gt-sm="100%" fxFlex="100">
		<mat-card>

			<mat-card-content>
					<mat-card-title>Let's Calculate your CO2 Emission</mat-card-title>
					  <!-- <mat-form-field>
						<mat-label>Enter a date range</mat-label>
						<mat-date-range-input [rangePicker]="picker">
						  <input matStartDate matInput placeholder="Start date">
						  <input matEndDate matInput placeholder="End date">
						</mat-date-range-input>
						<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
						<mat-date-range-picker #picker></mat-date-range-picker>
					  </mat-form-field> -->
			</mat-card-content>
			<mat-tab-group #tabgroup class="demo-tab-group">
				<mat-tab label="Tab 1">
					<ng-template mat-tab-label>
					<mat-icon>home</mat-icon>
					<mat-label>Living</mat-label>
					</ng-template>
					<div class="demo-tab-content">
						<mat-vertical-stepper [linear]="isLinearvarient" #steppervarient class="m-t-20">
							<mat-step [stepControl]="lifestylefirstFormGroup">
							  <form [formGroup]="lifestylefirstFormGroup">
								<ng-template matStepLabel>How many kilograms of wood furnitures you have in your house?</ng-template>
								<mat-form-field>
								  <input matInput type="number" placeholder="Furniture(In kgs)" formControlName="furnitureCtrl" required>
								</mat-form-field>
								<div>
								  <button mat-raised-button matStepperNext color="accent">Next</button>
								</div>
							  </form>
							</mat-step>
							<mat-step [stepControl]="lifestylesecondFormGroup">
								<form [formGroup]="lifestylesecondFormGroup">
								  <ng-template matStepLabel>What is the weight of refrigerators you have in your house?</ng-template>
								  <mat-form-field>
									<input matInput type="number" placeholder="Refrigerator(In Kgs)" formControlName="refrigeratorCtrl" required>
								  </mat-form-field>
								  <div>
									<button mat-raised-button matStepperNext color="accent">Next</button>
								  </div>
								</form>
							  </mat-step>
							  <mat-step [stepControl]="lifestylethirdFormGroup">
								<form [formGroup]="lifestylethirdFormGroup">
								  <ng-template matStepLabel>How many KWh of electricity do you consume in your house?</ng-template>
								  <mat-form-field>
									<input matInput type="number" placeholder="Electricity(In Kwh)" formControlName="electricityCtrl" required>
								  </mat-form-field>
								  <div>
									<button mat-raised-button matStepperNext color="accent">Next</button>
								  </div>
								</form>
							  </mat-step>
							  <mat-step [stepControl]="lifestylefourthFormGroup">
								<form [formGroup]="lifestylefourthFormGroup">
								  <ng-template matStepLabel>How many KWh of LPG do you consume in your house?</ng-template>
								  <mat-form-field>
									<input matInput type="number" placeholder="Gas(kwh)" formControlName="gasCtrl" required>
								  </mat-form-field>
								  <div>
									<button mat-raised-button matStepperNext color="accent">Next</button>
								  </div>
								</form>
							  </mat-step>
							<mat-step [stepControl]="lifestylefifthFormGroup">
							  <form [formGroup]="lifestylefifthFormGroup">
								<ng-template matStepLabel>How many KWh of natural gas do you consume in your house?</ng-template>
								<mat-form-field>
								  <input matInput type="number" placeholder="naturalgas" formControlName="naturalgasCtrl" required>
								</mat-form-field>
								<div class="button-row">
								  <!-- <button mat-raised-button color="primary" matStepperPrevious>Back</button> -->
								  <button mat-raised-button color="accent" matStepperNext>Next</button>
								</div>
							  </form>
							</mat-step>
							<mat-step [stepControl]="lifestylesixthFormGroup">
								<form [formGroup]="lifestylesixthFormGroup">
								  <ng-template matStepLabel>How many kilograms of glass do you consume in your house?</ng-template>
								  <mat-form-field>
									<input matInput type="number" placeholder="glass(in Kgs)" formControlName="glassCtrl" required>
								  </mat-form-field>
								  <div>
									<button mat-raised-button matStepperNext color="accent">Next</button>
								  </div>
								</form>
							  </mat-step>
							  <mat-step [stepControl]="lifestyleseventhFormGroup">
								<form [formGroup]="lifestyleseventhFormGroup">
								  <ng-template matStepLabel>How many kilograms of paper/books do you have in your house?</ng-template>
								  <mat-form-field>
									<input matInput type="number" placeholder="Books,Papers(in kgs)" formControlName="booksPapersCtrl" required>
								  </mat-form-field>
								  <div>
									<button mat-raised-button matStepperNext color="accent">Next</button>
								  </div>
								</form>
							  </mat-step>
							  <mat-step [stepControl]="lifestyleeighthFormGroup">
								<form [formGroup]="lifestyleeighthFormGroup">
								  <ng-template matStepLabel>How many kilograms of plastic do you consume in your house?</ng-template>
								  <mat-form-field>
									<input matInput type="number" placeholder="plastic(in kgs)" formControlName="plasticCtrl" required>
								  </mat-form-field>
								  <div class="button-row">
									<!-- <button mat-raised-button color="primary" matStepperPrevious>Back</button> -->
									<button mat-raised-button color="accent" matStepperNext>Next</button>
								  </div>
								</form>
							  </mat-step>
							  <mat-step [stepControl]="lifestyleninthFormGroup">
								  <form [formGroup]="lifestyleninthFormGroup">
									<ng-template matStepLabel>How many kilograms of metal do you have in your house?</ng-template>
									<mat-form-field>
									  <input matInput type="number" placeholder="metals(in kgs)" formControlName="metalsCtrl" required>
									</mat-form-field>
									<div>
									  <button mat-raised-button matStepperNext color="accent">Next</button>
									</div>
								  </form>
								</mat-step>
								<mat-step [stepControl]="lifestyletenthFormGroup">
								  <form [formGroup]="lifestyletenthFormGroup">
									
									<ng-template matStepLabel>What is the weight of small electrical appliances you have in your house?</ng-template>
									<mat-form-field>
									  <input matInput type="number" placeholder="Electrical small Appliances(In Kgs)" formControlName="electricitysmallCtrl" required>
									</mat-form-field>
									<div>
									  <button mat-raised-button matStepperNext color="accent">Next</button>
									</div>
								  </form>
								</mat-step>
								<mat-step [stepControl]="lifestyleeleventhFormGroup">
									<form [formGroup]="lifestyleeleventhFormGroup">
									  
									  <ng-template matStepLabel>What is the weight of IT appliances you have in your house?</ng-template>
									  <mat-form-field>
										<input matInput type="number" placeholder="Electrical IT Appliances(In Kgs)" formControlName="electricitysITCtrl" required>
									  </mat-form-field>
									  <div>
										<button mat-raised-button matStepperNext color="accent">Next</button>
									  </div>
									</form>
								  </mat-step>
								  <mat-step [stepControl]="lifestyletwelvethFormGroup">
									<form [formGroup]="lifestyletwelvethFormGroup">
									  
									  <ng-template matStepLabel>What is the weight of large electrical appliances you have in your house?</ng-template>
									  <mat-form-field>
										<input matInput type="number" placeholder="Electrical large Appliances(In Kgs)" formControlName="electricitylargeCtrl" required>
									  </mat-form-field>
									  <div>
										<button mat-raised-button matStepperNext color="accent">Next</button>
									  </div>
									</form>
								  </mat-step>
							<mat-step>
							  <ng-template matStepLabel>Done</ng-template>
							  You are now done.
							  <div class="button-row">
								<button mat-raised-button color="primary" matStepperPrevious>Back</button>
								<button mat-raised-button color="warn" (click)="steppervarient.reset()">Reset</button>
                <button mat-raised-button color="basic" (click)="changeIndex(tabgroup, 1)">Next Category</button>
							  </div>
							</mat-step>
						  </mat-vertical-stepper> 
					</div>
				</mat-tab>
				<mat-tab label="Tab 2">
					<ng-template mat-tab-label>
						<mat-icon> fastfood</mat-icon>
						<mat-label>Food</mat-label>
					</ng-template>
					<div class="demo-tab-content">
						<mat-vertical-stepper [linear]="isLinearvarient" #steppervarient class="m-t-20">
							<mat-step [stepControl]="foodsecondFormGroup">
							  <form [formGroup]="foodsecondFormGroup">
								<ng-template matStepLabel>How much do you spend in GBP for your food?</ng-template>
								<mat-form-field>
								  <input matInput type="number" placeholder="Veg Food(In GBP)" formControlName="foodCtrl" required>
								</mat-form-field>
								<div>
								  <button mat-raised-button matStepperNext color="accent">Next</button>
								</div>
							  </form>
							</mat-step>
							<!-- <mat-step [stepControl]="foodsecondFormGroup">
								<form [formGroup]="foodsecondFormGroup">
								  <ng-template matStepLabel>How much do you spend in Non-Vegetarian food?</ng-template>
								  <mat-form-field>
									<input matInput type="number" placeholder="Non-Veg Food(In GBP)" formControlName="foodCtrl" required>
								  </mat-form-field>
								  <div>
									<button mat-raised-button matStepperNext color="accent">Next</button>
								  </div>
								</form>
							  </mat-step> -->
							  <mat-step [stepControl]="foodthirdFormGroup">
								<form [formGroup]="foodthirdFormGroup">
								  <ng-template matStepLabel>How much do you spend in GBP for your drinks?</ng-template>
								  <mat-form-field>
									<input matInput type="number" placeholder="Drinks(In GBP)" formControlName="drinksCtrl" required>
								  </mat-form-field>
								  <div>
									<button mat-raised-button matStepperNext color="accent">Next</button>
								  </div>
								</form>
							  </mat-step>
							  <mat-step [stepControl]="foodfourthFormGroup">
								<form [formGroup]="foodfourthFormGroup">
								  <ng-template matStepLabel>How much do you spend in GBP for your clothing?</ng-template>
								  <mat-form-field>
									<input matInput type="number" placeholder="clothing(GBP)" formControlName="clothingCtrl" required>
								  </mat-form-field>
								  <div>
									<button mat-raised-button matStepperNext color="accent">Next</button>
								  </div>
								</form>
							  </mat-step>
							  <mat-step [stepControl]="foodfifthFormGroup">
								<form [formGroup]="foodfifthFormGroup">
								  <ng-template matStepLabel>How many hours you work from home?</ng-template>
								  <mat-form-field>
									<input matInput type="number" placeholder="WorkfromHome(In Hrs)" formControlName="wfhCtrl" required>
								  </mat-form-field>
								  <div class="button-row">
									<!-- <button mat-raised-button color="primary" matStepperPrevious>Back</button> -->
									<button mat-raised-button color="accent" matStepperNext>Next</button>
								  </div>
								</form>
							  </mat-step>
							  <mat-step [stepControl]="foodsixthFormGroup">
								<form [formGroup]="foodsixthFormGroup">
								  <ng-template matStepLabel>How many days you stay in a hotel?</ng-template>
								  <mat-form-field>
									<input matInput type="number" placeholder="hotel(rooms per night)" formControlName="hotelCtrl" required>
								  </mat-form-field>
								  <div class="button-row">
									<!-- <button mat-raised-button color="primary" matStepperPrevious>Back</button> -->
									<button mat-raised-button color="accent" matStepperNext>Next</button>
								  </div>
								</form>
							  </mat-step>
							<mat-step>
							  <ng-template matStepLabel>Done</ng-template>
							  You are now done.
							  <div class="button-row">
								<button mat-raised-button color="primary" matStepperPrevious>Back</button>
								<button mat-raised-button color="warn" (click)="steppervarient.reset()">Reset</button>
                 <button mat-raised-button color="basic" (click)="changeIndex(tabgroup, 2)">Next Category </button>
							  </div>
							</mat-step>
						  </mat-vertical-stepper> 
					</div>  
				</mat-tab>
				<mat-tab label="Tab 3">
					<ng-template mat-tab-label>
						<mat-icon> local_taxi</mat-icon>
						<mat-label>Transport</mat-label>
						</ng-template>
						<div class="demo-tab-content">
							<mat-vertical-stepper [linear]="isLinearvarient" #steppervarient class="m-t-20">
								<mat-step [stepControl]="transportfirstFormGroup">
								  <form [formGroup]="transportfirstFormGroup">
									<ng-template matStepLabel>How many kilometers you travel using Diesel cars?</ng-template>
									<mat-form-field>
									  <input matInput type="number" placeholder="dieselcars(in Kms)" formControlName="carDieselCtrl" required>
									</mat-form-field>
									<div>
									  <button mat-raised-button matStepperNext color="accent">Next</button>
									</div>
								  </form>
								</mat-step>
								<mat-step [stepControl]="transportsecondFormGroup">
									<form [formGroup]="transportsecondFormGroup">
									  <ng-template matStepLabel>How many kilometers you travel using Petrol cars?</ng-template>
									  <mat-form-field>
										<input matInput type="number" placeholder="petrolcars(Kms)" formControlName="carPetrolCtrl" required>
									  </mat-form-field>
									  <div>
										<button mat-raised-button matStepperNext color="accent">Next</button>
									  </div>
									</form>
								  </mat-step>
								  <mat-step [stepControl]="transportthirdFormGroup">
									<form [formGroup]="transportthirdFormGroup">
									  <ng-template matStepLabel>How many kilometers you travel by regular taxies?</ng-template>
									  <mat-form-field>
										<input matInput type="number" placeholder="taxi(in kms)" formControlName="carElectricCtrl" required>
									  </mat-form-field>
									  <div>
										<button mat-raised-button matStepperNext color="accent">Next</button>
									  </div>
									</form>
								  </mat-step>
								  <mat-step [stepControl]="transportfourthFormGroup">
									<form [formGroup]="transportfourthFormGroup">
									  <ng-template matStepLabel>How many kilometers you travel by international flights in economy class?</ng-template>
									  <mat-form-field>
										<input matInput type="number" placeholder="internationalFlight(in Kms)" formControlName="internationalFlightCtrl" required>
									  </mat-form-field>
									  <div>
										<button mat-raised-button matStepperNext color="accent">Next</button>
									  </div>
									</form>
								  </mat-step>
								<mat-step [stepControl]="transportfifthFormGroup">
								  <form [formGroup]="transportfifthFormGroup">
									<ng-template matStepLabel>How many kilometers you travel by domestic flights in economy class?</ng-template>
									<mat-form-field>
									  <input matInput type="number" placeholder="domesticFlight(in Kms)" formControlName="domesticFlightctrl" required>
									</mat-form-field>
									<div class="button-row">
									  <!-- <button mat-raised-button color="primary" matStepperPrevious>Back</button> -->
									  <button mat-raised-button color="accent" matStepperNext>Next</button>
									</div>
								  </form>
								</mat-step>
								<mat-step [stepControl]="transportsixthFormGroup">
									<form [formGroup]="transportsixthFormGroup">
									  <ng-template matStepLabel>How many kilometers you travel by bus?</ng-template>
									  <mat-form-field>
										<input matInput type="number" placeholder="Bus Travel(In Kms)" formControlName="busCtrl" required>
									  </mat-form-field>
									  <div>
										<button mat-raised-button matStepperNext color="accent">Next</button>
									  </div>
									</form>
								  </mat-step>
								  <mat-step [stepControl]="transportseventhFormGroup">
									<form [formGroup]="transportseventhFormGroup">
									  <ng-template matStepLabel>How many kilometers you travel by ferries or cruise trips?</ng-template>
									  <mat-form-field>
										<input matInput type="number" placeholder="SeaTravel(In Kms)" formControlName="waterCtrl" required>
									  </mat-form-field>
									  <div>
										<button mat-raised-button matStepperNext color="accent">Next</button>
									  </div>
									</form>
								  </mat-step>
								  <mat-step [stepControl]="transporteighthFormGroup">
									<form [formGroup]="transporteighthFormGroup">
									  <ng-template matStepLabel>How many kilometers you travel by train/trams?</ng-template>
									  <mat-form-field>
										<input matInput type="number" placeholder="Rail/Trams Travel(in Kms)" formControlName="railCtrl" required>
									  </mat-form-field>
									  <div class="button-row">
										<!-- <button mat-raised-button color="primary" matStepperPrevious>Back</button> -->
										<button mat-raised-button color="accent" matStepperNext>Next</button>
									  </div>
									</form>
								  </mat-step>
								  <mat-step [stepControl]="transportninthFormGroup">
									<form [formGroup]="transportninthFormGroup">
									  <ng-template matStepLabel>How many kilometers you travel by motorbike?</ng-template>
									  <mat-form-field>
										<input matInput type="number" placeholder="Bike(in Kms)" formControlName="bikeCtrl" required>
									  </mat-form-field>
									  <div class="button-row">
										<!-- <button mat-raised-button color="primary" matStepperPrevious>Back</button> -->
										<button mat-raised-button color="accent" matStepperNext>Next</button>
									  </div>
									</form>
								  </mat-step>
								<mat-step>
								  <ng-template matStepLabel>Done</ng-template>
								  You are now done.
								  <div class="button-row">
									<button mat-raised-button color="primary" matStepperPrevious>Back</button>
									<button mat-raised-button color="warn" (click)="steppervarient.reset()">Reset</button>
									<button mat-raised-button color="basic" (click)="changeIndex(tabgroup, 3)">Proceed to Submit</button>
								  </div>
								</mat-step>
							  </mat-vertical-stepper> 
						</div>   
				</mat-tab>
				<mat-tab label="Tab 4">
					<ng-template mat-tab-label>
						⭐
						<mat-label>Done</mat-label>
					</ng-template>
					<div class="demo-tab-content">
						<mat-card>
							<mat-card-header>
							  <mat-card-title>You're done now. Click on Submit to know your results!</mat-card-title>
							  <mat-card-subtitle>
								<mat-card-content>
									<button mat-raised-button color="primary" (click)="onSubmit()">
										Submit
									  </button>
									  <p *ngIf="isSubmitted">Your results are getting calculated. Sit back and relax!</p>
								</mat-card-content>
								<div *ngIf="isSubmitted && !isCompleted">
										<mat-spinner></mat-spinner>
								</div>

						  <mat-card-content *ngIf="isCompleted">
							You CO2 emission is <strong>{{CO2IndividualTotalConsumtion}} tonnes</strong> which is <strong>15% </strong>greater than UK's average emission! Visit our <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a> to view complete analytics 
						</mat-card-content> 
							  </mat-card-subtitle>
							</mat-card-header>
						  </mat-card>
					</div> 
				</mat-tab>

			</mat-tab-group>
		</mat-card>    
	</div>
</div>




